.error-message-container {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 10%;
}

.error-message-box {
    border-radius: .4rem;
    font-family: 'Montserrat Regular';
    background-color: rgb(255, 255, 255);
    border-left: 2px solid red;
    padding: 1rem;
}

.error-message-container h1 {
    font-size: 1.5rem;
    text-align: left;
    color: rgb(55, 55, 55);
}

.error-message-container p {
    color: rgb(100, 100, 100);
    font-size: 1rem;
    font-family: "Montserrat Regular";
}

@media (max-width:650px) {
    .error-message-container {
        width: 95%;
    }
}
